<div class="section section-contactus cd-section" id="contact-us">
        <!-- <div class="features-3">
            <div class="container">
                    <div class="row" >
                        <div class="col-md-9">
                            <div class="row">
                                <div class="container">
                                    <h2 class="title">FAQs</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                
                                    <div class="info info-horizontal">
                                        <div class="icon icon-primary">
                                            <h4 style="font-weight: bolder;">1.</h4>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">What is the objective of this event?</h4>
                                            <p style="color: black;">The key objective of this event is to provide a platform for fabulous entrepreneurs and experts. Even if there is no financial transaction involved, we will strive to fulfill the objective.</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-danger">
                                            <h4 style="font-weight: bolder;">2.</h4>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">What's the guarantee that the panelists will financially back the ventures?</h4>
                                            <p style="color: black;">Absolutely none. This is more of an entrepreneur – expert connection event. Panelists may choose to back none, any, or all ventures.                                            .</p>
                                        </div>
                                    </div>
                                
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3 ml-auto">
                            <div class="iphone-container">
                                <img src="assets/img/FAQ.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    -->

<!--     *********    CONTACT US 1     *********      -->
<div class="container" >
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title" style="color:black !important">Sponsors</h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <div class="card card-profile card-plain">
                <div class="card-img-top">
                    <a href="javascript:void(0)">
                        <img class="img" src="assets/img/IDFC Logo (1).jpg" style="width: 200px;
                        height: 200px;
                        display: block;margin: 0 auto;"/>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title" style="color: #212F45 !important;">IDFC First Bank</h4>

                   
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile card-plain" >
                <div class="card-img-top">
                    <a href="javascript:void(0)">
                        <img class="img" src="assets/img/MF-LOGO.svg" style="width: 200px;
                        height: 200px;
                        display: block;margin: 0 auto;" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title" style="color: #212F45 !important;">Mumbai Fintech Hub</h4>
                   
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-profile card-plain" >
                <div class="card-img-top">
                    <a href="javascript:void(0)">
                        <img class="img" src="assets/img/Rakuten-Logo.wine.png" style="width: 200px;
                        height: 200px;
                        display: block; margin: 0 auto;" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title" style="color: #212F45 !important;">Rakuten</h4>

                   
                </div>
            </div>
        </div>
        
        
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card card-profile card-plain">
                <div class="card-img-top">
                    <a href="javascript:void(0)">
                        <img class="img" src="assets/img/Westbridge_Logo_Final.png" style="
                        display: block;margin: 0 auto;"/>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title" style="color: #212F45 !important;">Westbridge Capital</h4>

                   
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>


    </div>
</div>
    <div class="contactus-1 section-image" style="background-image: url('assets/img/connect.jpeg')">
        
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="card card-contact no-transition">
                        <h3 class="card-title text-center">CONTACT FOR OPPORTUNITIES</h3>
                        <div class="row">
                            <div class="col-md-5 ml-auto">
                                <div class="card-body">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-info">
                                            <i class="nc-icon nc-pin-3" aria-hidden="true"></i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Find us at the office</h4>
                                            <p style="font-weight: 500;"> Student Activity Centre (SAC),<br>
                                                IIT Bombay,<br>
                                                Mumbai - 400076, India.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-danger">
                                            <i class="nc-icon nc-badge" aria-hidden="true"></i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">For Queries</h4>
                                            <p style="font-weight: 500;">Shubhanshi Asati<br>
                                                +91 9406630588<br>
                                                <a href="mailto:shubhanshi@ecell.in">shubhanshi@ecell.in</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 mr-auto">
                                <form role="form" id="contact-form" method="post">
                                    <div class="card-body" style="font-weight: 500;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">First name</label>
                                                    <input type="text" name="name" class="form-control" placeholder="First Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Last name</label>
                                                    <input type="text" name="name" class="form-control" placeholder="Last Name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Email address</label>
                                            <input type="email" name="email" class="form-control" placeholder="Email"/>
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Your message</label>
                                            <textarea name="message" class="form-control" id="message" rows="6" placeholder="Message"></textarea>
                                        </div>

                                        <div class="row">
                                            <!-- <div class="col-md-6">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="" checked>
                                                        I'm not a robot !
                                                        <span class="form-check-sign"></span>
                                                    </label>
                                                </div>
                                            </div> -->
                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-primary pull-right">Send Message</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--     *********    CONTACT US 2     *********      -->

    <!-- <div class="contactus-2"> 
        <div id="contactUsMap2" class="big-map">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styles">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
        </div>

        <div class="container">
            <div class="col-md-6">
                <div class="card card-contact card-raised">
                    <div class="card-header header-raised header-primary text-center">
                        <h4 class="card-title">Contact Us</h4>
                    </div>
                    <form role="form" id="contact-form" method="post">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-info">
                                            <i class="nc-icon nc-badge" aria-hidden="true"></i>
                                        </div>
                                        <div class="description">
                                            <h5 class="info-title">Give us a call</h5>
                                            <p> Michael Jordan<br>
                                                +40 762 321 762<br>
                                                Mon - Fri, 8:00-22:00
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-danger">
                                            <i class="nc-icon nc-pin-3" aria-hidden="true"></i>
                                        </div>
                                        <div class="description">
                                            <h5 class="info-title">Find us at the office</h5>
                                            <p> Bld Mihail Kogalniceanu<br>
                                                7652 Bucharest
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Full Name</label>
                                        <input type="text" name="name" class="form-control" placeholder="Full name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Email address</label>
                                        <input type="email" name="email" class="form-control" placeholder="Email"/>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Your message</label>
                                <textarea name="message" class="form-control" id="message" rows="6" placeholder="Message"></textarea>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="" checked>
                                            I'm not a robot !
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-rose pull-right">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>-->
</div>
